<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540509889291-qibhtaa4a1ok4rs7vp5muiujpuiripbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540509889291-qibhtaa4a1ok4rs7vp5muiujpuiripbr</string>
	<key>API_KEY</key>
	<string>AIzaSyD94gZrMi870CvvkH7E2FgnpJ6XDT0GegQ</string>
	<key>GCM_SENDER_ID</key>
	<string>540509889291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.projectG.Loke</string>
	<key>PROJECT_ID</key>
	<string>loke007</string>
	<key>STORAGE_BUCKET</key>
	<string>loke007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540509889291:ios:e4612e5c24594c9efff80e</string>
</dict>
</plist>